@model Model.modProjetoEmDesenvolvimento

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="x_panel">
            <h4>Alterar / Finalizar - <small>Ordem de Serviço</small></h4>
            <hr />
            <div class="x_content">
                <form class="form-horizontal form-label-left input_mask form-group has-feedback">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(model => model.idProjeto, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.idProjeto, (SelectList)ViewBag.Projeto, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idProjeto, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-xs-4">
                            @Html.LabelFor(model => model.nmVersao, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.nmVersao, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nmVersao, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-xs-4">
                            @Html.LabelFor(model => model.flEncerrado, htmlAttributes: new { @class = "control-label" })
                            <div class="dropdown">
                                @Html.DropDownListFor(model => model.flEncerrado, new[] {
                                            new SelectListItem() { Text = "SIM", Value=bool.TrueString},
                                            new SelectListItem() {Text = "NÃO", Value=bool.FalseString }
                                              }, "SELECIONE...", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.flEncerrado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br /><br /><br /><br />
                    <div class="form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(model => model.dtFinalizado, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.dtFinalizado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dtFinalizado, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-xs-4">
                            @Html.LabelFor(model => model.nmVersaoFim, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.nmVersaoFim, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nmVersaoFim, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-xs-4">
                            @Html.LabelFor(model => model.flCommitSolution, htmlAttributes: new { @class = "control-label" })
                            <div class="dropdown">
                                @Html.DropDownListFor(model => model.flCommitSolution, new[] {
                                            new SelectListItem() { Text = "SIM", Value=bool.TrueString},
                                            new SelectListItem() {Text = "NÃO", Value=bool.FalseString }
                                              }, "SELECIONE...", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.flCommitSolution, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br /><br /><br /><br />
                    <div class="form-group">
                        <div class="col-xs-4">
                            @Html.LabelFor(model => model.flVsProd, htmlAttributes: new { @class = "control-label" })
                            <div class="dropdown">
                                @Html.DropDownListFor(model => model.flVsProd, new[] {
                                            new SelectListItem() { Text = "SIM", Value=bool.TrueString},
                                            new SelectListItem() {Text = "NÃO", Value=bool.FalseString }
                                              }, "SELECIONE...", new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.flVsProd, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-xs-4">
                            @Html.LabelFor(model => model.dtPublicacaoFim, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.dtPublicacaoFim, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dtPublicacaoFim, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br /><br /><br /><br />
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">                        
                        <button type="submit" class="btn btn-warning">
                            <span class="glyphicon glyphicon-edit"></span> Salvar
                        </button>

                        <button type="button" onclick="location.href='@Url.Action("Index", "OsProjetos")'" class="btn btn-primary">
                            <span class="glyphicon glyphicon-backward"></span> Voltar
                        </button>                    
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
